[% extends "base.html" %]

[% load i18n %]

[% block title %]
[% trans "Detail of" %] [[ object ]] ({{ current_model.name }})
[% endblock %]

[% block content %]
<h1>[% trans "Detail of" %] [[ object ]] ({{ current_model.name }})</h1>

<p>
    <a href="[[ object.get_update_url ]]">[% trans "Edit this record" %]</a>
</p>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            ID:
        </th>

        <td>
            [[ object.id ]]
        </td>
    </tr>

    {% for field in current_model.fields %}
        <tr>
            <th>
                {{ field.name|capitalize }}:
            </th>

            <td>
                [[ object.{{ field.name }} ]]
            </td>
        </tr>
    {% endfor %}
</table>
[% endblock %]

