# -*- encoding: utf-8 -*-
# ! python2

from __future__ import (absolute_import, division, print_function, unicode_literals)

from django.contrib import admin
from django import forms
from .models import {% for model in models %}{{ model.name }}{% if not loop.last %}, {% endif %}{% endfor %}

{% for model in models %}
class {{ model.name }}AdminForm(forms.ModelForm):

    class Meta:
        model = {{ model.name }}
        fields = '__all__'


@admin.register({{ model.name }})
class {{ model.name }}Admin(admin.ModelAdmin):
    form = {{ model.name }}AdminForm
    list_display = ['__unicode__', {% for field in model.fields %}'{{ field.name }}'{% if not loop.last %}, {% endif %}{% endfor %}]

{% endfor %}
